<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ajouter une nouvelle langue">
    <meta name="keywords" content="ajouter, nouvelle">
    <link rel="stylesheet" href="style.css">

    <title>Ajouter une nouvelle langue</title>
    <style>

    </style>
</head>

<body>
    <div class="container">
        <form name="languageForm" action="/languages" method="post" onsubmit="return validerFormulaire()">
            <input type="text" name="name" placeholder="Entrez le nom de la langue (par exemple, anglais)">
            <input type="text" name="famille" placeholder="Entrez la famille de la langue (par exemple, germanique)">
            <input type="submit" value="Ajouter">
        </form>
        <a href="/" class="return-btn">Retour</a>
    </div>

    <script defer>
        function validerFormulaire() {
            var nom = document.forms.languageForm.name.value;
            var famille = document.forms.languageForm.famille.value;

            if (nom.trim() === "" || famille.trim() === "") {
                alert("Veuillez remplir tous les champs");
                return false;
            }
        }
    </script>
</body>

</html>